.App {
  font-family: sans-serif;
  text-align: center;
}

li.list-item {
  list-style: none;
}

button {
  margin: 10px;
}
.todo-dialog {
  background-color: #abc2ce;
  padding: 25px;
  border: 1px solid black;
  border-radius: 35px;
}
label {
  font-size: 12px;
  display: block;
}
.error-heading {
  color: #ff5733;
}
